language: node_js
node_js:
  - "4"
  - "4.4"
  - "4.3"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
before_install:
  - npm install -g npm
before_script:
  - npm install
  - typings install